p {
  color: $pg-color;
}
h2 {
  line-height: 1.6;
}
.icons {
@include flex-center;
flex-direction: row;
flex-wrap: wrap;
background: $bg-color;
height: 350px;
width: 100%;
padding: 7%;
}
.icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  width: 25%;
  }
.fa-desktop {
  @include flex-center;
  color: $bt-color;
  height: 5%;
  font-size: 55px;
  -webkit-text-stroke: 3.5px $bg-color;
  margin-bottom: 5%;
}
.fa-layer-group {
  @include flex-center;
  color: $bt-color;
  height: 5%;
  font-size: 3.5em;
  -webkit-text-stroke: 2.5px;
  -webkit-text-fill-color: $bg-color;
  margin-bottom: 5%;
}
.fa-check-circle {
  @include flex-center;
  color: $bt-color;
  height: 5%;
  font-size: 3.5em;
  -webkit-text-stroke: 2px $bg-color;
  margin-bottom: 5%;
}
