@media (max-width: 800px) {
.one {
  flex-wrap: wrap-reverse;
  width: 100%;
.box  {
  width: 100%;
    }
  }
}
@media (max-width: 800px) {
  .fullyimg {
    width: 100%;
  }
}
@media (max-width: 800px) {
.two {
  flex-wrap: wrap-reverse;
  width: 100%;
.box  {
    width: 100%;
    }
  }
}
@media (max-width: 800px) {
  .updatedimg {
    width: 100%;
  }
}
@media (max-width: 800px) {
.three {
  flex-wrap: wrap-reverse;
  width: 100%;
.box  {
    width: 100%;
    }
  }
}
@media (max-width: 800px) {
  .customimg {
    width: 100%;
  }
}
