@media (max-width: 1090px) {
  .rights {
    height: 300px;
  nav {
    display: flex;
    flex-direction: column;
    ul {
      width: 100%;
      justify-content: center;
    }
  }
}
}
@media (max-width: 800px) {
  .rights {
    height: 300px;
  nav {
    display: flex;
    flex-direction: column;
    ul {
      width: 100%;
      justify-content: center;
    }
  }
}
}
@media (max-width: 700px) {
  .social {
    display: flex;
    justify-content: space-around;
    width: 30%;
    padding-top: 3%;
    }
}
